body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 75vh;
  padding: 10px;
}

.container {
  width: 153px;
  height: 230px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 5px 8px 5px;
  background-color: silver;
}

.btn-cont {
  padding-top: 10px;
}

button {
  width: 35px;
  height: 35px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.display {
  display: flex;
  justify-content: right;
  width: 148px;
  height: 29px;
  margin-bottom: 5px;
  padding-right: 3px;
  border: 1px solid #000;
  background-color: rgb(205, 249, 194);
  font-size: 25px;
}

.function-btn {
  background-color: rgb(120, 217, 246);
}

.op-btns {
  background-color: orange;
}

.num-btns {
  background-color: rgb(249, 237, 73);
}

#equal-btn {
  background-color: rgb(252, 83, 83);
}

#decimal {
  background-color: rgb(120, 217, 246);
}